body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Navbar*/
#navbar_home{
    background-color: black!important;
    border-bottom: 1px solid white!important;
}

.nav-link:hover{
    color: orange !important;
}

.navbar-brand:hover{
    color: orange !important;
}

/*Navbar-end*/
#footer_home{
    background-color: black!important;
}

/*Button*/

.btn{
  background-color: orange !important;
}

#btn-login{
    width: 100%;
    border-color: orange !important;
}

#btn-danger{
    background-color: red!important;
    color: black;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

 /*Button -end*/

 #home_start{
	background-image: linear-gradient(100deg, orange, yellow);
  text-align: center;
  transform: skewY(-7deg);
  height: 20rem;
}

.card-text{
    font-size:19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.font-nunito {
    font-family: Nunito,sans-serif;
}

/*Carousel-start*/
.carousel-item{
    height: 32rem;
    background-color: white;
    position: relative;
}

/*.carousel-indicators li{*/
/*    background-color: black!important;*/
/*}*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*Carousel-end*/

p:empty {
    display: none;
}


/*Home-Start*/
#home_tabs nav a {
    color: gray !important;
}

#home_tabs nav a:hover {
    color: orange !important;
}

#home_tabs nav .active {
    color: black !important;
}
/*Home-End*/

/*Cennik-Start*/
.container-t {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.container-t:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 150px 0;
    border-color: transparent #608A32 transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.container-t2:before {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    color: white;
    content: "Najpopularniejsza";
    transform: rotate(45deg) translate(20%,-100%);
    transform-origin: left top;
}
/*Cennik-End*/

/*Modal-Start*/
.modal-backdrop.fade {
    background: rgba(0,0,0,2) !important;
    opacity: 0.1 !important;
}
/*Modal-End*/


/* Switch 1 Specific Styles Start */
input[type="checkbox"].switch_1{
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.5em;
    height: 1.5em;
    background: #ddd;
    border-radius: 2em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
    background: orange;
}

input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.5em);
}
/* Switch 1 Specific Style End */

/*Notification Menu-Start*/
.empty-notifications{
    color:white;
    font-size: 20px;
}

div.notifications div.container{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: rgba(100, 100, 100, 0.7);
}

div.notifications div.container div.header{
    width:100%;
    background: orange;
    border: 1px solid gray;
}

div.notifications div.container div.header div.header-option{
    color: black !important;
    text-decoration: none;
}

div.notifications div.container div.items{
    width:100%;
    color: black;
}
div.notifications div.container div.footer{
    width:100%;
    background: orange;
    border: 1px solid gray;
}

div.notifications div.container div.footer div.see-all{
    color:black !important;
}

div.notifications div.container div.items div.card{
    border-radius: 0;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 12px;
    grid-template-areas:
    "main"
    "sidebar"
}

div.notifications div.container div.items div.card div.content{
    grid-area: main;
}
div.notifications div.container div.items div.card div.options{
    grid-area: sidebar;
}
div.notifications div.container div.items div.card div.options div.option{
    visibility: visible;
    color: black;
    content: 'Zazancz jako przeczytane' !important;
    line-height: 5px;
}

@media screen and (max-width: 976px) {
    /* UNDER 976px CSS here */
    div.notifications div.container{
        transform: translateX(0px) !important;
    }
}

@media screen and (max-width: 500px) {
    div.notifications div.container{
        width : 90vw;
    }
}

.count{
    height: 12px !important;
    width: 12px !important;
    max-width: 12px !important;
    min-height: 12px !important;
    background: orange !important;
    color: orange !important;
    right: 4px !important;
    top: 0px !important;
}
/*Notification Menu-End*/

/*Chat-Start*/
#chat-user-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "photo name"
    "photo lastMsg"
}

#chat-user-photo{
    grid-area: photo;
}

#chat-user-name{
    grid-area: name;
    margin: 11px;
}

#chat-user-lastMsg{
    grid-area: lastMsg;
    margin: 11px;
    color: grey;
}

/*Char-End*/

/*Pagination*/
.page-item.active .page-link {
    background-color: orange!important;
    border-color: orange!important;
}
/*Pagination-End*/

/*Forum-Start*/
.mid-icon {
    font-size: 50px;
}
.forum-item {
    margin: 10px 0;
    padding: 10px 20px 10px;
    border-bottom: 1px solid #eaeaea;
}
.views-number {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}
.forum-item small {
    color: #999;
}
.forum-item .forum-sub-title {
    color: #999;
    margin-left: 10px;
}
.forum-title {
    margin: 15px 0 15px 0;
    padding: 0px 20px;
}
.forum-info {
    vertical-align: middle;
    text-align: center;
}
.forum-icon {
    float: left;
    width: 30px;
    margin-right: 20px;
    text-align: center;
}
a.forum-item-title {
    color: inherit;
    display: block;
    font-size: 18px;
    font-weight: 600;
}
a.forum-item-title:hover {
    color: inherit;
}
.forum-icon .fa {
    font-size: 30px;
    margin-top: 8px;
    color: #9b9b9b;
}

@media (max-width: 992px) {
    .forum-info {
        margin: 15px 0 10px 0;
        /* Comment this is you want to show forum info in small devices */
        display: none;
    }
}
/*Forum-End*/

/*TrainingCard-Start*/
@media only screen and (max-width: 375px){
    #trainingCard{
        background-color: white!important;
        width: 40%;
    }
}

#trainingCard{
    background-color: white!important;
    width: 335px;
}

#trainingCard:hover{
    background-color: rgba(255, 159, 0, 0.63) !important;
    transform: scale(1.1);
}

#trainingCardCon{
    height: auto;
}

#trainingCardBody{
    background-color: white!important;

}

/*TrainingCard-End*/

