body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link:hover{
  color: orange !important;
}

.navbar-brand:hover{
  color: orange !important;
}

.btn{
  background-color: orange !important;
}

 #home_start{
	background-image: linear-gradient(100deg, orange, yellow);
  text-align: center;
  transform: skewY(-11deg);
  height: 20rem;
} 
.content {
	max-width: 50em;;
	margin: 0 auto;
	transform: skewY(11deg);
  
}

#btn-login{
  width: 100%;
  border-color: orange !important;
}

.card-text{
    font-size:19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.font-nunito {
    font-family: Nunito,sans-serif;
}

#trener_col{
  height: 100%;
}

.carousel-item{
  height: 32rem;
  background: #777;
  position: relative;
}

#linia{
	background-image: linear-gradient(100deg, orange, yellow);
  border-radius: 0.5rem;
}
